wsdl/MultiplyMatrixService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="multiply.matrix" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="multiply.matrix" name="MultiplyMatrixServiceService">
<types>
<xsd:schema>
<xsd:import namespace="multiply.matrix" schemaLocation="http://0.0.0.0:1234/MultiplyMatrixService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://0.0.0.0:1234/MultiplyMatrixService?xsd=2"/>
</xsd:schema>
</types>
<message name="getPoolSize">
<part name="parameters" element="tns:getPoolSize"/>
</message>
<message name="getPoolSizeResponse">
<part name="parameters" element="tns:getPoolSizeResponse"/>
</message>
<message name="setPoolSize">
<part name="parameters" element="tns:setPoolSize"/>
</message>
<message name="setPoolSizeResponse">
<part name="parameters" element="tns:setPoolSizeResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="ExecutionException">
<part name="fault" element="tns:ExecutionException"/>
</message>
<portType name="MultiplyMatrixService">
<operation name="getPoolSize">
<input wsam:Action="multiply.matrix/MultiplyMatrixService/getPoolSizeRequest" message="tns:getPoolSize"/>
<output wsam:Action="multiply.matrix/MultiplyMatrixService/getPoolSizeResponse" message="tns:getPoolSizeResponse"/>
</operation>
<operation name="setPoolSize">
<input wsam:Action="multiply.matrix/MultiplyMatrixService/setPoolSizeRequest" message="tns:setPoolSize"/>
<output wsam:Action="multiply.matrix/MultiplyMatrixService/setPoolSizeResponse" message="tns:setPoolSizeResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="multiply.matrix/MultiplyMatrixService/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="multiply.matrix/MultiplyMatrixService/multiplyResponse" message="tns:multiplyResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="multiply.matrix/MultiplyMatrixService/multiply/Fault/InterruptedException"/>
<fault message="tns:ExecutionException" name="ExecutionException" wsam:Action="multiply.matrix/MultiplyMatrixService/multiply/Fault/ExecutionException"/>
</operation>
</portType>
<binding name="MultiplyMatrixServicePortBinding" type="tns:MultiplyMatrixService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPoolSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPoolSize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
<fault name="ExecutionException">
<soap:fault name="ExecutionException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MultiplyMatrixServiceService">
<port name="MultiplyMatrixServicePort" binding="tns:MultiplyMatrixServicePortBinding">
<soap:address location="http://0.0.0.0:1234/MultiplyMatrixService"/>
</port>
</service>
</definitions>